<h1>Edit <%= @deliverable.type %></h1>

<%= form_with(model: @deliverable) do |form| %>
  <div class="form-group">
    <%= form.label :title, "Title:" %>
    <%= form.text_field :title, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :instructions, "Instructions:" %>
    <%= form.text_field :instructions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :weight, "Weight:" %>
    <%= form.number_field :weight, in: 1..100, step: 1, required: true, class: "form-control" %>
  </div>

  <div class="actions">
    <br><%= form.submit "Save Deliverable", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>

<br>
<%= link_to 'Back', course_path(@deliverable.course) %>
