<div class="card">
  <div class="card-body">
    <h5 class="card-title">Pending User Registration Requests</h5>
    <p class="card-text">Showing all pending User Registration Requests with User Id, Account Type Requested, and Status</p>
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Id</th>
          <th scope="col">Account Type</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user_registrations.each do |user_registration| %>
          <tr>
            <th scope="row"><%= user_registration.id %></th>
            <td><%= user_registration.user_id %></td>
            <td><%= user_registration.user_type %></td>
            <td><%= user_registration.status %></td>
            <td><%= button_to "Approve", approve_user_registration_path(user_registration), :method => :post, class: 'btn btn-primary', form: {style: 'display:inline-block;'} %> | <%= button_to "Deny", deny_user_registration_path(user_registration), :method => :post, class: 'btn btn-primary', form: {style: 'display:inline-block;'} %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="card-text"><small class="text-muted">Last refreshed at <%= DateTime.now.strftime '%Y-%m-%d %H:%M:%S' %></small></p>
  </div>
</div>
<br><br>
