<div class="card">
  <div class="card-body">
    <h5 class="card-title">My courses</h5>
    <% unless courses.empty? %>
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Teacher</th>
            <th scope="col">Semester</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% courses.each do |course| %>
            <tr>
              <th scope="row"><%= course.course_name %></th>
              <td><%= course.course_code %></td>
              <td><%= course.teacher.full_name %></td>
              <td><%= course.semester.name %></td>
              <td><%= button_to "View", course_path(course), :method => :get, class: 'btn btn-primary', form: {style: 'display:inline-block;'} %> | <%= button_to "Withdraw", course_registration_path(course), :method => :delete, class: 'btn btn-danger', form: {style: 'display:inline-block;'} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>You do not have any courses. Register for one below!</p>
    <% end %>
  </div>
</div>
<br><br>
