<div class="card">
  <div class="card-body">
    <h5 class="card-title">Announcements</h5>
    <% unless @course.announcement_manager.announcements.empty? %>
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Announcement</th>
            <th scope="col">Message</th>
            <th scope="col">Created On</th>
          </tr>
        </thead>
        <tbody>
          <% @course.announcement_manager.announcements.each do |announcement| %>
            <tr>
              <th scope="row"><%= announcement.id %></th>
              <th scope="row"><%= announcement.announcement_content %></th>
              <th scope="row"><%= announcement.created_at.to_formatted_s(:long_ordinal) %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are currently no announcements for this course.</p>
    <% end %>
    <% if current_user.type == "Teacher" %>
      <%= form_tag(create_announcement_course_path, method: :post) do %>
        <%= text_field_tag(:announcement_content, params[:announcement_content], placeholder: "Enter announcement content", class: "form-control") %>
        <%= submit_tag("Create Announcement", :class => 'btn btn-primary', :style => "display:inline-block; margin-top:15px;") %>
      <% end %>
    <% end %>
  </div>
</div>
<br><br>
