<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
  <div class="container">
    <%= link_to image_tag('cmslearn.svg', style: 'height: 60px; margin-top: 0px;'), root_path %>
    </button> <%= link_to "CMSLearn", root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=<%= root_path %>>Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.full_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= edit_user_path(current_user) %>">Edit Profile</a>
            </div>
          </li>
          <li class='nav-item'><%= link_to 'Logout', '/logout', class: 'nav-link' %></li>
        <% else %>
          <li class='nav-item'><%= link_to 'Login', '/login', class: 'nav-link' %></li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
