<!DOCTYPE html>
<html>
  <head>
    <title>CMSLearn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "About Sharks" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CMSLearn Course Management System" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= favicon_link_tag asset_path('cmslearn.svg') %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <br>
    <section class="container">
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-primary" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </section>
    <footer style="position: fixed; bottom: 20px; width: 100%; text-align: center;">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
